body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #f9f9f9;
}

#container {
  width: 800px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #F9F5F1;
}

#rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: flex-start;
  width: fit-content;       
  margin: 0 auto;           
  height: 100vh;
}

#canvasWrapper {
  width: 640px;
  position: relative;
}

#mugCanvas {
  width: 640px;
  height: 640px; 
}

#sideMenu {
  width: 160px;
  background: #00263a;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  z-index: 1;
}

#sideMenu button {
  background: none;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

#sideMenu button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#featurePanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  background: rgb(8, 47, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2; 
}

.section {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.image-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-options img {
  width: 80px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.image-options img.selected {
  border-color: blue;
}

.right-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.input-row {
  display: flex;
  gap: 10px;
}



#featurePanel.active {
  transform: translateX(0);
}

.panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.panel-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
